h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--dark-color);
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    line-height: 1.8;
    color: var(--text-color);
}

